/*Color Palette
Dark Slate Blue/Grey - #445C6C
Dull Warm Brown - #765C4E
Light Slate Grey - #A1A2B4
Warm Brown/Black - #2A201C
Slate Grey - #7F7984
*/

/*--------Everything--------*/

body {
    background-color: #A1A2B4;
    margin: 0px;
    /*work on this*/
    display: flex;
    flex-direction: column;
    /*this needs to go just in main*/
    /*align-self: center;*/
    /*max-width: 40em;*/
}

body,
html {
    height: 100%;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
}

img {
    width: 100%;
}

header ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
}

header a {
    display: block;
    padding: 1rem 1.5rem;
    border-bottom: 2px solid transparent;
    margin: 0 .5em;
    color: #2A201C;
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    font-size: 25px;
    letter-spacing: .25rem;
}

header a:hover {
    border-bottom: 2px solid #445C6C;
    margin: 0 .5em;
}

#current {
    color: #445C6C;
    border-bottom: 2px solid #445C6C;
}

footer {
    text-align: center;
    display: block;
    color: white;
}

/*main {*/

/*    align-self: center;*/

/*    max-width: 60em;*/

/*}*/

/*--------Hero--------*/

.hero img {
    display: block;
}

.hero {
    position: relative;
}

.hero .text-wrapper {
    position: absolute;
    background-color: rgba(0, 0, 0, .3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    color: white;
    letter-spacing: .8rem;
    text-shadow: 3px 3px 5px #2A201C;
    font-size: 65px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 800;
}

.hero p {
    margin: 0;
    color: #fff;
}

/*------CSS Picture Layout--------*/

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */

.column {
    flex: 25%;
    max-width: 23%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/*--------Home Page--------*/

/*--------About me--------*/

/*--------Content--------*/

.boxes img {
    width: 35%;
    padding: 40px;
}

.boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px 200px;
}


/*--------Resume--------*/
